<div class="form-wrapper">
  <h5 id="heading"><span *ngIf="editMode">Edit</span><span *ngIf="!editMode">New</span> User</h5>
  <form [formGroup]="registerForm" class="" (ngSubmit)="onRegisterUser()">
    <div class="form-row">

      <div class="col-sm-4">
        <div class="form-group">
          <label for="fname">First Name <span class="required-icon">*</span></label>
          <input class="form-control" type="text" id="fname" formControlName="fname">
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label for="mname">Middle Name</label>
          <input class="form-control" type="text" id="mname" formControlName="mname">
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label for="lname">Last Name <span class="required-icon">*</span></label>
          <input class="form-control" type="text" id="lname" formControlName="lname">
        </div>
      </div>
    </div>

    <div class="form-row">

      <div class="col-sm-9">
        <div class="form-group">
          <label for="address">Address <span class="required-icon">*</span></label>
          <input class="form-control" type="text" id="address" placeholder="" formControlName="address">
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label for="registerForm.get('pin')">PIN Code<span class="required-icon">*</span></label>
          <input class="form-control" pattern="[1-9]{1}[0-9]{5}" minlength="6" maxlength="6" type="text" id="registerForm.get('pin')" placeholder="6 digits [0-9]"
            formControlName="pin">
          <div class="mb-0 mt-1" *ngIf="registerForm.get('pin').invalid && registerForm.get('pin').touched && registerForm.get('pin').value!==''">
            <div class="m-0" role="alert" class="alert alert-dismissible p-0 m-0">
              <p class="p-1 m-0">Enter a 6 digit valid PIN code</p>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="form-row">

      <div class="col-sm-4">
        <label for="">Mobile Number <span class="required-icon">*</span></label>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend mr-1">
              <div class="input-group-text">+91</div>
            </div>
            <input pattern="[1-9]{1}[0-9]{9}" type="tel" minlength="10" maxlength="10" required placeholder="9087654321"
              class="form-control mt-0" formControlName="mobile">
          </div>
          <div class="mb-0 mt-1" *ngIf="registerForm.get('mobile').invalid && registerForm.get('mobile').touched && registerForm.get('mobile').value!==''">
            <div class="m-0" role="alert" class="alert alert-dismissible p-0 m-0">
              <p class="p-1 m-0">Enter a 10 digit mobile number</p>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-5">
        <label for="">Gender <span class="required-icon">*</span></label>
        <div class="form-group bg-white center" id="gender" style="width: 100%; border-radius: 3px;">
          <div class="form-check form-check-inline text-dark">
            <input class="form-check-input" required value="Male" type="radio" formControlName="gender" id="male">
            <label class="form-check-label" for="male">Male</label>
          </div>
          <div class="form-check form-check-inline text-dark">
            <input class="form-check-input" required value="Female" type="radio" formControlName="gender" id="female">
            <label class="form-check-label" for="female">Female</label>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label for="dob">Date of Birth <span class="required-icon">*</span></label>
          <input class="form-control" type="date" [max]="todayDate" id="dob" placeholder="dd-mm-yyyy" formControlName="dob">
        </div>
      </div>

    </div>

    <!-- <div class="form-row">

      <div class="col-sm-3 col-6 upload-wrapper">
        <label for="">Profile Picture</label>
        <div class="upload">
          <button class="btn" type="button" (click)=fileInput.click()>Upload</button>
          <input style=" width:0; height: 0;" #fileInput type="file" (change)="onFileUpload($event)">
        </div>
      </div>

      <div class="col-sm-4 col-6">
        <div class="img-preview" *ngIf="imgPreview">
          <img [src]="imgPreview" [alt]="fname.value">
        </div>
      </div>
    </div> -->

    <div class="register-btn mt-3">
      <button [disabled]="!registerForm.valid" class="btn" type="submit"><span *ngIf="editMode">Update</span><span *ngIf="!editMode">Add</span></button>
    </div>

  </form>
</div>
